@import "vars.less";
@import "general.less";
@import "toc.less";
@import "data_box.less";
@import "graph.less";

html, body
{
	.body;
}

#title_div
{
	.centered_title;
	.pale-green_title;
	.bold_text;
	
	width: 100%;
	
	position: fixed;
	z-index: 9;
	top: 0;
	
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#back_link
{
	position: fixed;
	z-index: 11;
	top: 20px;
	left: 90px;
}