#pinnedDataBox
{
	position: fixed;
	
	z-index: 6;
	
	left: 0px;
	top: 0px;
	
	height: 100%;
	
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 45px;
	
	border-right: 1px solid #CCCCCC;
	
	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: start;
		-webkit-box-align: start;
	
	font-size: 10pt;
		
	background: rgb(245,249,240);
	background: -moz-linear-gradient(left,  rgba(245,249,240,1) 0%, rgba(249,252,247,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,249,240,1)), color-stop(100%,rgba(249,252,247,1)));
	background: -webkit-linear-gradient(left,  rgba(245,249,240,1) 0%,rgba(249,252,247,1) 100%);
	background: -o-linear-gradient(left,  rgba(245,249,240,1) 0%,rgba(249,252,247,1) 100%);
	background: -ms-linear-gradient(left,  rgba(245,249,240,1) 0%,rgba(249,252,247,1) 100%);
	background: linear-gradient(left,  rgba(245,249,240,1) 0%,rgba(249,252,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9f0', endColorstr='#f9fcf7',GradientType=1 );

	-webkit-box-shadow: inset -1px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: inset -1px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#timeSelectionBox, #timeInstanceBox
{
	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: start;
		-webkit-box-align: stretch;
	
	padding: 10px;
	
	border: 1px solid #999999;
	border-radius: 6px 6px 6px 6px / 3px 3px 3px 3px;
	
	-webkit-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	
	text-align: center;
}

#timeSliderDiv
{
	display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: justify;
		-webkit-box-align: center;
	
	margin-top: 10px;
}

#timeSlider
{
	width: 90px;
}

#dataInformationBox
{
	padding: 10px;
	
	line-height: 2.0;
}

#browserMessage
{
	width: 100%;

	color: #333333;

	font-size: 8pt;
	font-style: italic;

	text-align: center;
}

#loadingIconDiv
{
	margin-top: 10px;
	margin-bottom: 5px;
	
	width: 100%;
	
	display: none;
	
	text-align: center;
	
	font-style: italic;
}

#errorInfoDiv
{
	color: #ef0000;
}

#warningInfoDiv
{
	color: #efef00;
}
